@{
    ViewData["Title"] = "Home Page";
}
<div style="position: absolute; color: whitesmoke; z-index: 9999; font-size: 10px;">
    @ViewData["Host"] <span>|</span> @ViewData["X-Forwarded-For"] <span>|</span> @ViewData["X-Forwarded-Host"]
</div>
<app 
    parameters='
        {
            "showMenu": true,
            "workflowServer": "@ViewData["WorkflowUrl"]"
        }'>
    Loading...
</app>
<script>
 
</script>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
