@{
  Layout = null;
}

<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
      <style>
        rect.draw2d_ResizeHandle
        {
          fill:#ff0000;
        }
    
     
        /**
         * Possible Type:
         * 
         *     1             2               3
         *     O-----------O-------------O
         *     |                         |
         *     |                         |
         *   8 O           + 9           O 4
         *     |                         |
         *     |                         |
         *     O-----------O-------------O
         *   7             6               5
         * 
         **/
         rect[type="2"].draw2d_ResizeHandle
        {
          fill:#00FF00;
        }
    
        
        #properties {
          background-color: #c0c0c0;
          width: 100%;
          height: 100%;
        }
        
        #properties h2 {
          background-color: #c0c0c0;
          width: 100%;
          border-bottom: 1px solid
        }
        
        #properties table {
           border-collapse: collapse; 
          border-spacing: 0;
        }
        
        #properties td {
          padding: 0;
          margin-bottom: 3px;
          border-bottom: 1px solid;
        }
        
        #properties input {
          background-color: #c0c0c0;
          border: 0;
          outline: none;
        }
        
      </style>
      <title>Builder</title>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="viewport" content="width=device-width, minimum-scale=1.0"/>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
      <link type="text/css" rel="stylesheet" href="~/css/example.css"/>  
      <link type="text/css" rel="stylesheet" href="~/css/contextmenu.css"/>
    
      <link type="text/css" rel="stylesheet" href="~/css/jquery-ui-1.8.16.custom.css" />
      <link type="text/css" rel="stylesheet" href="~/css/jquery.layout.css" />
      <link type="text/css" rel="stylesheet" href="~/css/application.css" />
    
     
    
      <script src="~/draw/lib/shifty.js"></script>
      <script src="~/draw/lib/raphael.js"></script>
    
      <script src="~/draw/lib/jquery-1.12.0.min.js"></script>
      <script src="~/draw/lib/jquery.autoresize.js"></script>
      <script src="~/draw/lib/jquery-touch_punch.js"></script>
      <script src="~/draw/lib/jquery.contextmenu.js"></script>
    
      
      <script src="~/draw/lib/jquery.browser.js"></script>
      <script src="~/draw/lib/jquery-ui-1.8.23.custom.min.js"></script>
      <script src="~/draw/lib/jquery.layout.js"></script>
    
      <script src="~/draw/lib/rgbcolor.js"></script>
      <script src="~/draw/lib/canvg.js"></script>
      <script src="~/draw/lib/Class.js"></script>
      <script src="~/draw/lib/json2.js"></script>
      <script src="~/draw/lib/pathfinding-browser.min.js"></script>
    
    <script src="~/draw/draw2d.js"></script>
    
    <script src="~/nova-designer/workflow-server.js"></script>
    
    <script src="~/nova-designer/canvas/wf-connection.js"></script>
    <script src="~/nova-designer/canvas/xyLocator.js"></script>
    
    
    <script src="~/nova-designer/view.js"></script>
    <script src="~/nova-designer/toolbar.js"></script>
    <script src="~/nova-designer/properties-window.js"></script>
    
    <script src="~/nova-designer/menus/items/form-color.js"></script>
    <script src="~/nova-designer/menus/items/menu-items.js"></script>
    
    <script src="~/nova-designer/menus/color-context-menu.js"></script>
    <script src="~/nova-designer/menus/delete-context-menu.js"></script>
    <script src="~/nova-designer/menus/form-context-menu.js"></script>
    
    <script src="~/nova-designer/shapes/factory.js"></script>
    <script src="~/nova-designer/shapes/header.js"></script>
    <script src="~/nova-designer/shapes/label.js"></script>
    <script src="~/nova-designer/shapes/note.js"></script>
    <script src="~/nova-designer/shapes/panel.js"></script>
    <script src="~/nova-designer/shapes/terminator.js"></script>
    <script src="~/nova-designer/shapes/activity.js"></script>
    
    <script src="~/nova-designer/shapes/form/form.js"></script>
    <script src="~/nova-designer/shapes/form/form-control.js"></script>
    <script src="~/nova-designer/shapes/form/form-header.js"></script>
    
    
    
    <script src="~/draw/CollapsibleLocator.js"></script>
      <script src="~/draw/CollapsibleInputLocator.js"></script>
      <script src="~/draw/CollapsibleOutputLocator.js"></script>  
    
    
      <script src="~/draw/CopyInterceptorPolicy.js"></script>
    
   
    
  </head>
  <body id="container">
  
      <div id="content">
        <div id="toolbar">
          <button id="undoButton">Undo</button>
          <button id="redoButton">Redo</button>
          <button id="deleteButton">Delete</button>
          <span class="toolbar_delimiter">&nbsp;</span>
          <button id="zoomInButton">Zoom In</button>
          <button id="zoomResetButton">1:1</button>
          <button id="zoomOutButton">Zoom Out</button>
          <span class="toolbar_delimiter">&nbsp;</span>
          <button id="publishButton">Publish</button>
        </div>
        <div id="canvas" class="" style="width:3000px; height:3000px;"></div>
      </div>
   
  <div id="navigation" class="">
    <img 
      src="~/nova-designer/img/panel-activity.png" 
      style="width: 50px; height: 45px;cursor: pointer;" 
      data-factory="shapeFactory"
      data-shape="panel" 
      alt="Panel"
      class="draw2d_droppable"/>
    
    <img 
      src="~/nova-designer/img/form-activity.png" 
      style="padding-top: 5px;width: 50px; height: 45px;cursor: pointer;" 
      data-factory="shapeFactory"
      data-shape="form" 
      alt="Form"
      class="draw2d_droppable"/>
    
    <img 
      src="~/nova-designer/img/webservice.png" 
      style="padding-top: 5px;width: 50px; height: 50px;cursor: pointer;" 
      data-factory="activityFactory"
      data-shape="webService" 
      alt="Webservice"
      class="draw2d_droppable"/>
    
    <img 
      src="~/nova-designer/img/title-activity.png" 
      style="padding-top: 5px;width: 40px; height: 30px;cursor: pointer" 
      data-factory="shapeFactory"
      data-shape="title" 
      alt="Title"
      class="draw2d_droppable"/>
    
    <img 
      src="~/nova-designer/img/label-activity.png" 
      style="padding-top: 5px;width: 30px; height: 20px;cursor: pointer;" 
      data-factory="shapeFactory"
      data-shape="label" 
      alt="Label"
      class="draw2d_droppable"/>
    
    <img 
      src="~/nova-designer/img/note-activity.png" 
      style="padding-top: 5px;width: 30px; height: 27px;cursor: pointer;" 
      data-factory="shapeFactory"
      data-shape="note" 
      alt="Note"
      class="draw2d_droppable"/>
    
    <img 
      src="~/nova-designer/img/start-activity.png" 
      style="padding-top: 5px;width: 30px; height: 30px;cursor: pointer;" 
      data-factory="shapeFactory"
      data-shape="start" 
      alt="Start"
      class="draw2d_droppable"/>
    
    <img 
      src="~/nova-designer/img/end-activity.png" 
      style="padding-top: 5px;width: 30px; height: 30px;cursor: pointer;" 
      data-factory="shapeFactory"
      data-shape="end" 
      alt="End"
      class="draw2d_droppable"/>
    
    
   
    
  </div>
  
  <div id="properties">
    <h2>Properties</h2>
    <div id="items"></div>
  </div>
  
  <pre id="json" style="display: none;overflow:auto;position:absolute; top:10px; right:10px; width:350px; height:500px;background:white;border:1px solid gray">
</pre>
  <div id="gfx_holder" style="display: none;width: 1500px; height: 1500px;"></div>
    
  <script type="text/javascript">
    
    
    function GetCanvas() {
      return canvas;
    }
        
    let canvas = new View("canvas");
    let toolbar = new Toolbar("toolbar",  canvas);
    let properties = new PropertiesWindow("properties", canvas);
    
    $(window).load(function () {
      $('#container').layout({
        west: {
          resizable:false,
          closable:true,
          resizeWhileDragging:true,
          paneSelector: "#navigation",
          size: 55

        },
        east: {
          resizable:true,
          closable:true,
          paneSelector: "#properties",
          size: 300
        },
        center: {
          resizable:true,
          closable:true,
          resizeWhileDragging:true,
          paneSelector: "#content"
        }
      });

      $('#content').layout({
        north: {
          resizable:false,
          closable:false,
          spacing_open:0,
          spacing_closed:0,
          size:50,
          paneSelector: "#toolbar"
        },
        center: {
          resizable:false,
          closable:false,
          spacing_open:0,
          spacing_closed:0,
          paneSelector: "#canvas"
        }
      });
    });
  </script>
  </body>
</html>